@font-face {
  font-family: "inter";
  src: url("./assets/fonts/Inter_28pt-Black.ttf");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "inter";
  src: url("./assets/fonts/Inter_28pt-ExtraBold.ttf");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "inter";
  src: url("./assets/fonts/Inter_28pt-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "inter";
  src: url("./assets/fonts/Inter_28pt-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "inter";
  src: url("./assets/fonts/Inter_28pt-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "inter";
  src: url("./assets/fonts/Inter_28pt-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "inter";
  src: url("./assets/fonts/Inter_28pt-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "inter";
  src: url("./assets/fonts/Inter_28pt-ExtraLight.ttf");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "barlowCondensed";
  src: url("./assets/fonts/BarlowCondensed-ExtraBold.ttf");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "barlowCondensed";
  src: url("./assets/fonts/BarlowCondensed-SemiBold.ttf");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "barlowCondensed";
  src: url("./assets/fonts/BarlowCondensed-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "barlowCondensed";
  src: url("./assets/fonts/BarlowCondensed-Medium.ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "barlowCondensed";
  src: url("./assets/fonts/BarlowCondensed-Light.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "barlowCondensed";
  src: url("./assets/fonts/BarlowCondensed-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "hindSiliguri";
  src: url("./assets/fonts/HindSiliguri-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "hindSiliguri";
  src: url("./assets/fonts/HindSiliguri-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "hindSiliguri";
  src: url("./assets/fonts/HindSiliguri-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "hindSiliguri";
  src: url("./assets/fonts/HindSiliguri-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "hindSiliguri";
  src: url("./assets/fonts/HindSiliguri-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}
